
*{
  box-sizing: border-box;
  /* scrollbar-width: none; */
}

.Navbar-container{
  background-color: transparent;
}

.Navbar{
   /* border-bottom-left-radius: 250px 100px; */
   box-shadow: -1px 1px 5px #415a77;
}

h1{
  font-family: "Amarante", serif;
  font-weight: 900;
}

hr{
  color: #415a77;
}

.header-policy{
  scrollbar-width: none;
}

.header-policy a:hover{
  color:#415a77;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .main-product-container{
    flex-direction: column;
  }
}